
@use '../../../../theme/_variables.scss' as color;

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 5rem;
  }

  &__logo {
    a {
      display: block;
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
    gap: 3.75rem;
  }

  &__navbar-item {
    position: relative;
    padding: 0.5rem 0.25rem;
		font-family: 'BasisGrotesqueArabicProMedium', sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.0625rem;
      background-color: color.$white;
      transform: scaleX(1);
      transform-origin: right;
      transition: transform 0.2s ease-in-out;
    }

    &:hover::after {
      animation: refresh-underline 0.8s ease-in-out forwards;
    }
  }
}

@keyframes refresh-underline {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}


