
@use '../../../../theme/_variables.scss' as color;

.loading {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  &__spinner {
    .spinner {
      width: 3.5rem;
      height: 3.5rem;
      border: 0.3rem solid color.$contrete;
      border-top: 0.3rem solid color.$atlantis;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
