$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$atlantis: rgb(162, 198, 52);
$contrete: rgb(243, 243, 243);
$alto: rgb(211, 211, 211);
$mountain-meadow: rgb(16, 185, 129);
$flamingo: rgb(242, 85, 42);
$buttercup: rgb(245, 158, 11);
$dodger-blue: rgb(59, 130, 246);
