
@use '../../../../../theme/_variables.scss' as color;

.map {
  &__container {
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .map {
      width: 100%;
      height: 100%;
    }
  }

  &__coordinates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;

    label {
      font-size: 0.75rem;
      color: color.$atlantis;
    }

    span {
      font-size: 0.875rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color.$alto;
    color: color.$black;
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
  }
}
