.form {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  &__input {
    grid-column: 1 / 5;
  }

  &__address {
    grid-column: 1 / 4;
  }

  &__address-number {
    grid-column: 4 / 5;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
}
