@use './theme/_fonts.scss';
@use './theme/_variables.scss' as color;

* {
	box-sizing: border-box;
}

html, body {
	background-color: rgb(0, 0, 0);
	color: color.$white;
	font-family: 'BasisGrotesqueArabicPro', sans-serif;
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

main {
	width: 100%;
	height: 100%;
	padding: 13rem 5rem 0;
	margin-bottom: 8rem;
}

h1, h2, h3, p {
	margin: 0;
}

ul {
	list-style: none;
}

a {
	color: color.$white;
	text-decoration: none;
}
